@import url("../fonts.css");
@import url("../button.css");
@import url("../colors.css");
@import url("../nav.css");
@import url("../body.css");
@import url("../footer.css");
@import url("../switcher.css");
@import url("../dark.css");
@import url("/src/css/swiper.css");
/* header */

header {
  padding: 10vh 0;
}

header h1 {
  line-height: 150%;
}

/* main */

.sponsorship-wrapper {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
  background-color: #f9f9f9;
}
.sponsorship {
  /* animation: moveToLeft 9s linear infinite; */
}

.statistic,
.activity-box,
#main .desc {
  margin-top: 120px;
}

.activity-box {
  padding: 50px 0;
  background-color: #f9f9f9;
}

@keyframes moveToLeft {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: -100vw;
  }
  80% {
    margin-left: 100%;
  }
  100% {
    margin-left: 0;
  }
}

.statistic {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

ul.activity-list {
  padding-left: 0;
}

ul.activity-list li {
  list-style: none;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-top: 20px;
  padding-left: 45px;
  position: relative;
}

ul.activity-list li::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  background-image: url("/src/images/checklist.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.activity-wrapper section {
  box-shadow: 0px 0px 30px rgba(175, 174, 174, 0.25);
  background: white;
  width: 98%;
  margin: 20px auto;
}

/* documentary */
.documentary-wrapper > section > p {
  margin-top: -6px;
}

/* join */
.join-community {
  margin: 9vh 0 0 0;
}

.join-community {
  /* background-image: url("https://res.cloudinary.com/dbg3ckwtz/image/upload/v1678177041/Curture/decorator-join-us_b9ivtx.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  background-color: var(--dark-box);
  position: relative;

  padding: 60px 30px;
  color: white;
}

/* decorator */
.join-community::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 39%;
  background-image: url("https://res.cloudinary.com/dbg3ckwtz/image/upload/v1678177997/Curture/decorator-join-us-bg-dark_xetups.svg");
  background-size: cover;

  background-repeat: no-repeat;
  background-position: center;
}
.join-community::after {
  content: "";
  position: absolute;
  bottom: -2px;
  right: 0;
  width: 30%;
  height: 42%;
  background-image: url("https://res.cloudinary.com/dbg3ckwtz/image/upload/v1678177934/Curture/decorator-join-us-bg2-dark_x1ksss.svg");
  background-size: contain;

  background-repeat: no-repeat;
  background-position: center;
}

.dark .join-community {
  background-color: var(--dark2);
}

.join-community .join-community-box section:first-child {
  flex-basis: 45%;
}

/* feedback */
.feedback-word {
  margin-top: 70px;
}

.feedback {
  box-shadow: 0px 0px 30px rgba(175, 174, 174, 0.25);
  background-color: white;
  max-width: 500px;
  margin: 48px 20px 60px 20px;
  border-radius: 10px;
}

.swiper {
  width: 100%;
  height: fit-content;
}

#main .swiper-slide {
  font-size: 18px;
  background: transparent;

  /* box-shadow: 0px 0px 30px rgba(175, 174, 174, 0.25); */
  /* tambahkan efek 3D coverflow */
  transform-style: preserve-3d;
  transform-origin: center center;
  position: relative;
  overflow: hidden;
}

/* footer */
#main footer {
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  main .desc {
    margin-top: 25vh;
  }

  .activity-box,
  .statistic,
  #main .desc {
    margin-top: 190px;
  }

  .join-community .join-community-box {
    border-radius: 20px;
  }

  .join-community {
    margin: 16vh 0;
  }

  .join-community::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 110px;
    height: 120px;
    background-image: url("https://res.cloudinary.com/dbg3ckwtz/image/upload/v1678176869/Curture/decorator-join-us_q6y2eo.svg");
    background-size: contain;

    background-repeat: no-repeat;
    background-position: center;
  }
  .join-community::after {
    content: "";
    position: absolute;

    background-image: url("https://res.cloudinary.com/dbg3ckwtz/image/upload/v1678177257/Curture/decorator-join-us-2_znei9k.svg");
    background-size: contain;
    width: 110px;
    height: 120px;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center;
  }

  /* optimize button */
  .join-community button {
    margin-right: 20px;
  }
}
