@import url("colors.css");

.button {
  padding: 21px 36px;
  border-radius: 12px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 3% !important;
  transition: 0.3s;
}

.button-primary {
  background-color: var(--primary);
  color: white;
}

.button-primary:hover {
  background-color: var(--primary-hover);
  transform: translateY(-20%);
}
