@import url("colors.css");
body.dark {
  background-color: var(--dark);
  color: #fff;
}

.dark .txt-gray1 {
  color: #fff;
}

.dark nav {
  background-color: var(--dark-footer) !important;
}

.dark nav ul li a {
  color: white;
}

.dark .small-nav {
  background-color: var(--dark2) !important;
}

.dark .small-nav a {
  color: white;
}

.dark nav ul li {
  color: white;
}

.dark .sponsorship-wrapper {
  background-color: var(--dark2);
}

.dark .desc p {
  color: white;
}

.dark .activity-box {
  background-color: var(--dark2);
}

.dark .activity-wrapper section {
  background-color: var(--dark-box) !important;
  box-shadow: unset;
}

.dark footer {
  background-color: var(--dark-footer);
}

.dark footer .join-now {
  background-color: var(--dark-box);
}
.dark footer .copyright {
  background-color: var(--dark-box);
}

/* about */
.dark .vision {
  background-color: var(--dark-box);
}

.dark p {
  color: white;
}

/* posts */
#main.dark .news-tabs button {
  color: white;
}

/* register */

.dark .register-form {
  background-color: var(--dark-box);
}

.dark .register-form {
  box-shadow: unset;
}

.dark .custom-input {
  /* border-color: #a9a9a9; */
  color: white;
}

.dark .custom-input::placeholder {
  color: #c4c4c4;
}
