@import url("fonts.css");
@import url("button.css");
@import url("colors.css");
@import url("nav.css");
@import url("body.css");
@import url("footer.css");
@import url("switcher.css");
@import url("dark.css");
/* header */

header {
  padding: 10vh 0;
}

header h1 {
  line-height: 150%;
}

/* main */

.sponsorship-wrapper {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
  background-color: #f9f9f9;
}
.sponsorship {
  /* animation: moveToLeft 9s linear infinite; */
}

.documentary,
.statistic,
.activity-box,
#main .desc {
  margin-top: 120px;
}

.activity-box {
  padding: 50px 0;
  background-color: #f9f9f9;
}

@keyframes moveToLeft {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: -100vw;
  }
  80% {
    margin-left: 100%;
  }
  100% {
    margin-left: 0;
  }
}

.statistic {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

ul.activity-list {
  padding-left: 0;
}

ul.activity-list li {
  list-style: none;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-top: 20px;
  padding-left: 45px;
  position: relative;
}

ul.activity-list li::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  background-image: url("../images/checklist.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.activity-wrapper section {
  box-shadow: 0px 0px 30px rgba(175, 174, 174, 0.25);
  background: white;
  width: 98%;
  margin: 20px auto;
}

/* documentary */
.documentary-wrapper > section > p {
  margin-top: -6px;
}

@media screen and (min-width: 768px) {
  main .desc {
    margin-top: 23vh;
  }

  .activity-box,
  .documentary,
  .statistic,
  #main .desc {
    margin-top: 190px;
  }
}
