@import url("fonts.css");
@import url("button.css");
@import url("colors.css");

html,
body {
  overflow-x: hidden;
}

nav {
  padding: 20px 0;
  position: fixed;
  width: 100vw;
  z-index: 999;
}

nav ul {
  column-gap: 40px;
}
nav ul li {
  list-style: none;
}

nav ul li a {
  color: #0a2f33;
  text-decoration: none;
}

.small-nav {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: -100vh;
  left: 0;
  transition: 0.3s;
  background-color: white;
  z-index: 998;
}

.small-nav > .small-nav-item {
  padding: 20px 23px;
}

.small-nav > .small-nav-item:first-child {
  border-top: 1.4px solid var(--line1);
}

.small-nav > .small-nav-item:hover {
  background-color: var(--primary-light);
}

.small-nav > .small-nav-item:hover > a {
  color: var(--primary);
}

.small-nav > .small-nav-item > a {
  text-decoration: none;
  color: #0a2f33;
}

/* header */

header {
  padding: 10vh 0;
}

header h1 {
  line-height: 150%;
}

/* main */
main .desc {
  margin-top: 6vh;
}

.sponsorship-wrapper {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
}
.sponsorship {
  /* animation: moveToLeft 9s linear infinite; */
}

.activity-box,
.documentary,
.statistic,
.desc {
  margin-top: 90px;
}

@keyframes moveToLeft {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: -100vw;
  }
  80% {
    margin-left: 100%;
  }
  100% {
    margin-left: 0;
  }
}

.statistic {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

ul.activity-list {
  padding-left: 0;
}

ul.activity-list li {
  list-style: none;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-top: 20px;
  padding-left: 45px;
  position: relative;
}

ul.activity-list li::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  background-image: url("../images/checklist.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.activity-wrapper section {
  box-shadow: 0px 0px 30px rgba(175, 174, 174, 0.25);
  background: white;
  width: 98%;
  margin: 20px auto;
}

/* documentary */
.documentary-wrapper > section > p {
  margin-top: -6px;
}

/* footer */
footer {
  background-color: var(--dark-blue);
  padding-top: 40px;
}

footer .footer-list-item {
  list-style: none;
  padding-left: 0;
  margin-top: 20px;
}

footer .footer-list-item > li {
  margin-top: 7px;
}

footer .footer-list-item > li > a {
  text-decoration: none;
  color: var(--gray2);
}

footer .footer-item-container {
  gap: 20px;
}

footer .gmaps {
  width: 100%;
  height: 50vh;
}

footer .copyright {
  background-color: #0a2f33;
  text-align: center;
  color: white;
}

@media screen and (min-width: 768px) {
  nav {
    padding: 26px 0;
  }
  main .desc {
    margin-top: 23vh;
  }

  .activity-box,
  .documentary,
  .statistic,
  .desc {
    margin-top: 190px;
  }

  footer .footer-item-container {
    gap: 60px;
  }
}
