nav {
  padding: 20px 0;
  position: fixed;
  width: 100vw;
  z-index: 999;
}

nav ul {
  column-gap: 40px;
}
nav ul li {
  list-style: none;
}

nav ul li a {
  color: #0a2f33;
  text-decoration: none;
}

.small-nav {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: -100vh;
  left: 0;
  transition: 0.3s;
  background-color: white;
  z-index: 998;
}

.small-nav > .small-nav-item {
  padding: 20px 23px;
}

.small-nav > .small-nav-item:first-child {
  border-top: 1.4px solid var(--line1);
}

.small-nav > .small-nav-item:hover {
  background-color: var(--primary-light);
}

.small-nav > .small-nav-item:hover > a {
  color: var(--primary);
}

.small-nav > .small-nav-item > a {
  text-decoration: none;
  color: #0a2f33;
}

@media screen and (min-width: 768px) {
  nav {
    padding: 26px 0;
  }
}
