@import url("/src/css/nav.css");
@import url("/src/css/footer.css");
@import url("/src/css/button.css");
@import url("/src/css/fonts.css");
@import url("/src/css/body.css");
@import url("/src/css/switcher.css");
@import url("/src/css/dark.css");

main {
  margin-top: 12vh;
}

.newest-post-box {
  border: 1px solid #eaeaea;
}

.newest-post-box .news-item {
  margin-top: 20px;
}
.dark .newest-post-box {
  background: var(--dark-box);
  border: none;
}

@media screen and (min-width: 768px) {
  main {
    margin-top: 20vh;
  }
}
